#boxes-container {
  display: flex;
  gap: 20px;
}

.list-cell {
  display: flex;
  background-image: linear-gradient(to left, gray, white);
  width: 100%;
  outline: 1px solid black;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 275px;
  height: 290px;
}

@media only screen and (max-width: 900px) {
  #about-me {
    text-align: center;
  }

  #boxes-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#writer:hover{
  background-image: url('../../../pictures/collection/idesire.jpg');
}

#artist:hover {
  background-image: url('../../../pictures/hoverBoxes/tower.jpg');
}

#painter:hover {
  background-image: url('../../../pictures/hoverBoxes/painting.jpg');
}

#human:hover {
  background-image: url('../../../pictures/hoverBoxes/gallery.jpg');
}

#writer:hover, #artist:hover, #painter:hover, #human:hover {
  box-shadow: 5px 5px 5px;
  padding: 5px;
}

#artist:hover {
  color: white;
}

#writer:hover {
  color: white;
}

#painter:hover {
  color: white;
}

#human:hover {
  color: white;
}

#writer:hover > #writer-txt   {
  display: none;
}

#artist:hover > #artist-txt {
  display: none;
}

#painter:hover > #painter-txt {
  display: none;
}

#human:hover > #human-txt {
  display: none;
}

.list-cell:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.list-item {
  font-size: 25px;
  color: #000;
}

