@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

#damla-page {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#logoImg {
  width: 35px;
  height: 35px;
  margin-top: 23px;
  margin-left: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  #damla-page {
    font-size: 18px;
  }

  .links {
    font-size: 12px;
  }
}

.links {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; 
}

.links:hover {
  color: rgb(164, 164, 164);
  
}

li {
  font-size: 18px;
}


/* NEW CSS HERE */

.logo, a {
  color: black;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
  background-color: #0868ce;
  height: 70px;
  width: 100%;
}

ul {
  z-index: 1;
}

label.logo {
  color: white;
  font-size: 25px;
  line-height: 70px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover {
  background-color: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  height: 100%;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 952) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 886px) {
  .checkbtn {
    display: block;
  }
  label.logo {
    color: white;
    font-size: 25px;
    line-height: 70px;
    padding: 0 50px;
    font-weight: bold;
  }
  #header-ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
    color: white;
  }
  a:hover, a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
