@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

#damla-page {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#logoImg {
  width: 35px;
  height: 35px;
  margin-top: 23px;
  margin-left: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  #damla-page {
    font-size: 18px;
  }

  .links {
    font-size: 12px;
  }
}

.links {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; 
}

.links:hover {
  color: rgb(164, 164, 164);
  
}

li {
  font-size: 18px;
}

