#link:hover {
  background: rgb(82, 148, 234);
  color: white;
}

#work-title {
  font-size: 26px;
  opacity: 0.7;
}

#subtitle {
  font-size: 24px;
}

@media screen and (max-width: 460px) {
  .card {
    max-width: 250px;
  }
  
  .card-img-top {
    width: 250px;
  }

  .card-body {
    width: 250px;
  }
}
